@import "tailwindcss";

/* Sembunyikan scrollbar tapi scroll tetap berfungsi normal */
html {
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* IE dan Edge lama */
}

html::-webkit-scrollbar {
  display: none;               /* Chrome, Safari, Edge baru (berbasis Chromium) */
}

html {
  scroll-behavior: smooth;
}